<div>
    <img src="http://media.merchantcircle.com/41086502/Blazar%20Logo_full.png", height="150px", width="400px">
    <div class="pull-right">
        <h1>About Our Company</h1>
        <h3>This will be a link to What We Do graph</h3>
        <h3>This will be a link to Our Clients</h3>
    </div>
</div>

<div>
    <h2>Who We Are</h2>
    <p>Founded by industry veterans with more than seventy five years of shared experience, 
    Blazar Communications opened its doors in 2011. Every day since then, 
    Blazar has strived to provide a unique approach to mailing solutions. We understand the complexities of choosing the 
    correct products and solutions for each company and set the bar high for competitors by objectively comparing in-house 
    and outsourcing solutions until we find a plan that suits each client’s unique needs. Our clientele are a host 
    of great people with forward thinking ideas who trust us to help them streamline their processes, lower 
    their costs, and reduce their carbon footprint by offering the best technology and software available at 
    every turn. (filler sentence here about how great we are look at the greatness the ego is what sells companies)</p>
</div>

<div>
    <h2>Our Team</h2>
    <div class="jumbotron">
        <h4><img src="#">David Haimes</h4>
        <small class="indent">After spending 17 years serving clients with Neopost and Pitney Bowes, David saw an opportunity to improve his customers’
        experience by focusing not only on their immediate needs, but on the true costs of their production over time as well.
        Drawing on his breadth of experience, superabundant expertise, and substantial knowledge base of products available, he 
        started Blazar Communications. David has earned multiple accolades, including reaching worldwide sales records. A motivated problem 
        solver, David loves the challenge of working in unison with multiple departments both in and out of the office.</small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Jay Rajcevich</h4>
        <small class="indent">Bringing more than 20 years of industry experience to the table, Jay has made a career of helping 
        thousands of customers save millions of dollars in all aspects of customer communications. 
        Utilizing his extensive expertise with highly engineered systems in multiple markets and industries, he 
        is highly successful in quickly identifying process flow problem areas, delivering on-time solutions for complex customer projects, 
        helping clients achieve revenue, profit and business growth, and in building solid team relationships. 
        Customer-focused and performance driven, Jay is an executive with 
        a proven history of leading and motivating multifaceted teams to drive sustained revenue 
        and EBITA growth for business divisions in rapid change environments exceeding 500 million dollars in annual revenue. </small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Tom Zoretic</h4>
        <small class="indent">This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
        Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
        how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
        And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Pat Brown</h4>
        <small class="indent">Pat Brown has more than 20 years of industry experience in the San Diego area. She’s earned many accolades 
        for sales success and considers her greatest reward to be establishing long term customer relationships. An enthusiastic member of the
        Blazar team, she takes pride in being a vital part of a local business and holds a personal, vested interest in her community.  </small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Michael Lafferty</h4>
        <small class="indent">This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
        Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
        how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
        And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Steven Toth</h4>
        <small class="indent">This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
        Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
        how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
        And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Ray Bauer</h4>
        <small class="indent">This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
        Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
        how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
        And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Joyce Souza</h4>
        <small class="indent">This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
        Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
        how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
        And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</small>
    </div>
    <div class="jumbotron">
        <h4><img src="#">Amanda Hanley</h4>
        <small class="indent">This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
        Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
        how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
        And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</small>
    </div>
</div>