<img src="http://media.merchantcircle.com/41086502/Blazar%20Logo_full.png", height="150px", width="400px">
<div class="pull-right">
    <h1>About Our Company</h1>
    <h3>This will be a link to What We Do graph</h3>
    <h3>This will be a link to Our Clients</h3>
</div>

<div>
    <h2>Who We Are</h2>
    <p>Founded by industry veterans with more than seventy five years of shared experience, 
    Blazar Communications opened its doors in 2011. Every day since then, 
    Blazar has strived to provide a unique approach to mailing solutions. We understand the complexities of choosing the 
    correct products and solutions for each company and set the bar high for competitors by objectively comparing in-house 
    and outsourcing solutions until we find a plan that suits each client’s unique needs. Our clientele are a host 
    of great people with forward thinking ideas who trust us to help them streamline their processes, lower 
    their costs, and reduce their carbon footprint by offering the best technology and software available at 
    every turn. (filler sentence here about how great we are look at the greatness the ego is what sells companies)</p>
</div>
