<h2>Our Blog</h2>
<div class="container">
    <img src="http://media.merchantcircle.com/41086502/Blazar%20Logo_full.png", height="150px", width="400px">
    <div class="pull-right">
        <h1>Our Blog</h1>
        <div>
            <h4><a href="http://blazarcommunications.tumblr.com/">Find Us On Tumblr</a></h4>
        </div>
        <div>
            <h4><a href="https://plus.google.com/109011054650093657125/about">Find Us On Google +</a></h4>
        </div>
    </div>
</div>

<h2>THIS IS GONNA BE ONE OF THOSE NEATO DROP DOWN-IES FROM CODECADEMY</h2>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>