<div class="container">
    <img src="http://media.merchantcircle.com/41086502/Blazar%20Logo_full.png", class="col-md-6", height="150px", width="400px">
    <div class="col-md-6">
        <h3>Find the direct mail system that's best for you.</h3>
        <h4>How much do you want to increse your revenue by today?</h4>
    </div>
</div>

<div class="container">
    <h1>Mail &amp; Email Lists</h1>
    <p>No matter your list target, be it consumers to businesses and  professionals, we’ve got 
    you covered. Because there’s no better data available, there’s no better guarantee than the 
    Data Guarantee. We promise a certain high level of deliverability on our data &lpar;eg. 
    94&percnt;&plus; on our Excelsior Premium Consumer Data&rpar; that you can quote to your
    customers. If we fall short, we’ll pay you $0.40 per record under the mark, up to the entire 
    cost of the list. Learn about our lists along with their quality ratios by clicking on the 
    links to your left. Or to get instant counts on any of our lists, click on the links below</p>
    <ul class="col-md-6">
        <li>Consumer Data</li>
        <li>Occupant Data</li>
        <li>Business Data</li>
        <li>Real Property Data</li>
    </ul>
    <ul class="col-md-6">
        <li>New Homeowners</li>
        <li>Movers</li>
        <li>Bankruptcies</li>
        <li>Specialty Data</li>
    </ul>
</div>

