<div class="container">
    <img src="http://media.merchantcircle.com/41086502/Blazar%20Logo_full.png", class="col-md-6", height="150px", width="400px">
    <div class="col-md-6">
        <h1>Welcome to Blazar Communications </h1>
        <h2>Mailing, Shipping, and Data Processing Solutions</h2>
        <div>
            <h4><i class="fa fa-phone"></i>  <a href="tel:18883900195" class="telephone">(888) 390-0195</a></h4>
        </div>
        <div>
            <h4><i class="fa fa-fax"></i>  <a href="tel:19514984518" class="telephone">(951) 489-4518</a></h4>
        </div>
    </div>
</div>

<h1>WRITE SOMETHING HERE</h1>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>