/*This is where all of the stylistic pieces will go. I used a lot of gradients per request du David and Jay and their
style ideas. A lot of the gradients were pulled from ones they liked on http://uigradients.com/# and edited to match
the logo colors. David would like to avoid the orange even though it's a brand color, so I stuck with primarily
the lighter colors from the logo and matched them to thinks like almond and creme colors to appease his color hatred. */
.navbar {

  background: -webkit-linear-gradient(90deg, #544E45 10%, #454340 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #544E45 10%, #454340 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #544E45 10%, #454340 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #544E45 10%, #454340 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #544E45 10%, #454340 90%); /* W3C */
            
}

body {
  background: -webkit-linear-gradient(90deg, #FAB568  10%, blanchedalmond 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FAB568  10%, blanchedalmond 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FAB568  10%, blanchedalmond 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FAB568  10%, blanchedalmond 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FAB568  10%, blanchedalmond 90%); /* W3C */
  

}

.telephone {
  color: #DA551D;
}

.monda {
    font-family:'Monda', Cambria;
}
.indent {
  text-indent: 50px;
}
.top_space {
  margin-top: 40px;

}

#mail4charity {
  background: -webkit-linear-gradient(90deg, blanchedalmond  10%, #EA80B0 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, blanchedalmond  10%, #EA80B0 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, blanchedalmond  10%, #EA80B0 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, blanchedalmond  10%, #EA80B0 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, blanchedalmond  10%, #EA80B0 90%); /* W3C */
}

.breast_cancer_div {
  margin-top: 7px;
  margin-bottom: 7px;
  -moz-box-shadow:inset 0px 39px 0px -24px #A69CA0;
  -webkit-box-shadow:inset 0px 39px 0px -24px #A69CA0;
  box-shadow:inset 0px 39px 0px -24px #A69CA0;
  background-color:#A69CA0;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #A69CA0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #A69CA0;
}

.clear {
  clear: both;
  padding-top: 17px;
}

body a {
  color: black;
}

.btn-blazar {
	-moz-box-shadow:inset 0px 39px 0px -24px #EE7D1D;
	-webkit-box-shadow:inset 0px 39px 0px -24px #EE7D1D;
	box-shadow:inset 0px 39px 0px -24px #EE7D1D;
	background-color:#EF7021;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #EE741F;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #EF7021;
}
.btn-blazar:hover {
	background-color:#EF7021;
	color:#000000;
}
.btn-blazar:active {
	position:relative;
	top:1px;
}

li a {
  color: #ffffff;
}

li a:hover {
  background-color:#EF7021;
	color:#000000;
}

li a:active {
  position:relative;
	top:1px;
}




//This is where everything that belongs to the tabs goes//
ul.code-tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #333;
	width: 100%;
}

ul.code-tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #666;
	color: #ccc;
	overflow: hidden;
	position: relative;
}

.code-tab_last { border-right: 1px solid #333; }

ul.code-tabs li:hover {
	background-color: #ccc;
	color: #333;
}

ul.code-tabs li.active {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}

.code-tab_container {
	border: 1px solid #333;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.code-tab_content {
	padding: 20px;
	display: none;
}

.code-tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.code-tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}

table {
  border: 1px
    solid black;
}
td {
  border: 1px
    solid black;
}